# Utilisation Lambda

In [1]:
lambda x,y: x*y

In [9]:
f_1 = lambda x,y: x*y
f_1(2,3)

6

In [3]:
d1=[[0],[2],[3],[10],[5]]

In [10]:
def max_val(d):
    return max(d,key=lambda x:x)

In [11]:
max_val(d1)

[10]

In [7]:
max(d1)

[10]

In [12]:
(lambda x: x*2)(12)

24

In [16]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Luke','Gina','Sam','Emma'],
    'Status': ['Father', 'Mother', 'Son', 'Daughter'],
    'Birthyear': [1976, 1984, 2013, 2016],
})
print(df)

   Name    Status  Birthyear
0  Luke    Father       1976
1  Gina    Mother       1984
2   Sam       Son       2013
3  Emma  Daughter       2016

In [14]:
df['age'] = df['Birthyear'].apply(lambda x: 2021-x)

In [15]:
print(df)

   Name    Status  Birthyear  age
0  Luke    Father       1976   45
1  Gina    Mother       1984   37
2   Sam       Son       2013    8
3  Emma  Daughter       2016    5